# Android generated
**/bin/
**/gen/

# Ant
**/build.xml
**/local.properties

# Maven
**/target/
**/pom.xml.*
**/release.properties

# Eclipse
**/.classpath
**/.project
**/.externalToolBuilders/
**/.apt_generated/

# IntelliJ
*.iml
*.ipr
*.iws
**/.idea/
**/out/
**/output/
**/.gitignore.orig
**/.project.bak
**/.properties
**/*.iml
**/*/.idea
**/.idea
.gradle
build/
**/.gradle
**/*/build
**/build
# key info:
**/ultimateandroid.jks
**/keystore.properties
**/gradleinfo.properties


# Ignore Gradle GUI config
**/**/gradle-app.setting
**/**/manifest-merger-release-report.txt
**/*.apk
